<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<title> Accrue </title>

<h2> by Citigroup </h2>

<body>
	<div class="sidenav">
		<a href="/"> Home </a>
		<a href="/Budgeting"> Budgeting </a>
		<a> Expenses </a>
		<a> Investments </a>
		<a> Investing Basics </a>
		<a> Goals </a>
		<a> Advising </a>
		<a> Settings </a>
		<br>
		<a> Log out </a>
		<div class = 'logo'>
		<img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Citi.svg/1200px-Citi.svg.png" alt = "Citi Logo" height = "100" width = "100">
		</div>
	</div>
	{{{ body }}}
</body>
</html>
