
.sidenav {
  width: 150px;
  height: 65%;
  position: fixed;
  top: 20px;
  left: 10px;
  background: #00203D;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.logo {
    padding-left: 15px;
    padding-top: 40px;
    height: 40px;
}

.loginForm .links{
  	display: flex;
  	padding: 0 15px;
}
.loginForm .links a, .loginForm .options a1, .loginForm .options a2{
  	color: #adb2ba;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 10px 10px 10px 10px;
  	font-weight: bold;
}
.loginForm .links a:hover, .loginForm .options a1:hover, .loginForm .options a2:hover {
  	color: #9da3ac;
}

.loginForm{
  	width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 50px auto;
}
.loginForm form{
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 20px;
}

.loginForm h1 {
  	text-align: center;
  	color: #5b6574;
  	font-size: 24px;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
}
.loginForm form label{
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}

.loginForm form input[type="password"], .loginForm form input[type="text"]{
    width: 280px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.loginForm form input[type="submit"]{
  	width: 60%;
  	padding: 15px;
  	margin-top: 20px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
  	border-radius: 25px;
}
.loginForm form input[type="submit"]:hover {
  	background-color: #2868c7;
  	transition: background-color 0.2s;
}

.options a1 {
    padding-top: 20px;
    padding-left: 5px;
}

.options a2 {
    padding-top: 20px;
    padding-left: 20px;
}

.register a1{
    padding-left: 40px;
}

.image {
  padding-left: 50px;
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("frank.jpg");
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.currentBalance {
    width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 50px auto;
}
.currentBalance h1, .transactions h2, .investments h3{
    font-size: 25px;
    text-align:center;
    padding-top: 10px;
}

.currentBalance p{
    padding-left: 145px;
    padding-top: 10px;
}

.transactions {
    width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 80px auto;
}

.investments {
    width: 400px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 90px auto;
}

body {
    background: #003B70;
}

.budget form {
    float:right;
    padding-right: 90px;
}

.budget form label{
    color:white;
}

.paleBlueRows {
  width: 550px;
  height: 300px;
  color:white;
  border-collapse: collapse;
  background: #003B70;
  position:absolute;
  margin-left: 48%;
  top: 340px;
}

.paleBlueRows tbody tr {
  font-size: 13px;
}


.paleBlueRows td {
  border: 1px solid white;
}

.paleBlueRows tr td:first-child {
  border-left: 0;
  border-bottom: 0;
  padding-right: 15px;

}
.paleBlueRows tr td {
  border-bottom: 0;
  border-top: 0;
  padding-left: 20px;
}

.paleBlueRows tr td:last-child {
  border-right: 0;
  padding-left: 40px;
}


